version: '2'

services:
  designate-base:
    build:
      args:
        DESIGNATE_GIT_URL: {{ DESIGNATE_GIT_URL }}
        DESIGNATE_VERSION: {{ DESIGNATE_VERSION }}
        DESIGNATE_CONF: {{ DESIGNATE_CONF }}
        POOLS_YAML: {{ POOLS_YAML }}
    image: 'designate-base:{{ RUINER_PROJECT }}'

  mysql:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    ports:
      - "3306"
    command: /usr/bin/mysqld_safe

  rabbit:
    image: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: designate
      RABBITMQ_DEFAULT_PASS: designate
    ports:
      - "5672"

  api:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    ports:
      - "9001"
    command: designate-api

  central:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    command: designate-central

  mdns:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    ports:
      - "5354"
    command: designate-mdns

  producer:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    command: designate-producer

  worker:
    image: 'designate-base:{{ RUINER_PROJECT }}'
    command: designate-worker
